body {
	color:#ffffff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #54364a;
	background-size: cover;
	background-image:url(../../dash/images/a.jpg);
 
	font-size:100%;
	padding:0px;
	margin:0px;
}
a, a:active,a:visited {
	text-decoration:none;
}
#wrapper{
	width:100%;
}
#header {

	display:block;
	width:100%;
	border-bottom:1px solid #989898;
	height:50px;
}
.logo {

	display:block!important;
	margin:8px auto;
	background:url(../../dash/images/clogo-m.png) no-repeat; 
	background-position:top center;
	height:50px;
	width:200px;
}
.menu-btn {
	position:absolute;
	left:12px;
	top:18px;
	background:url(../images/mnu.png) no-repeat; 
	background-position:top left;
	background-size:100%;
	height:24px;
	width:24px;
}
.add-btn {
	position:absolute;
	right:12px;
	top:18px;
	background:url(../images/plus.png) no-repeat; 
	background-position:top left;
	background-size:100%;
	height:24px;
	width:24px;
}
.search-btn {
	position:absolute;
	right:12px;
	top:18px;
	background:url(../images/search.png) no-repeat; 
	background-position:top left;
	background-size:100%;
	height:24px;
	width:24px;
}
#header a {
	text-indent:-9999px;
	text-align:center;
	display:inline-block;

}
#content{
	padding-top:20px;
	width:100%;
}
.profile-image{
	display:block;
	margin:auto;
	height:150px;
	width:150px;
	text-align:center;
	overflow:hidden;
	border-radius:50%;
}
.profile h3  {
	font-weight:200;
	font-size:1.4	em;
	margin:5px 0px 0px 0px;
}
.profile h4  {
	font-size:1em;
	font-weight:normal;
	margin:0px;
}
.profile h3 { 
	margin-bottom:20px;
}
.bleft { width:50%; }
.img { width:30%; }
.box { 
	width:90%;
	margin-top:20px;
	padding:20px;

	background:rgba(0,0,0,0.2);
}
#nav  {
	margin-top:20px;
	height:54px;
	background:rgba(0,0,0,0.2);
	width:100%; 
}
#nav a.active {
	border-top:3px solid rgba(41,27,37,0.5);
	color:#fff;
	background:rgba(0,0,0,0.4);
}
#nav a:first-child {
	border-right:1px solid #666;
}
#nav a:last-child {
	border-left:1px solid #666;
}
#nav a {
	color:#fff;

	font-weight:200;
	font-size:1em;
	line-height:52px;
	height:50px;
	text-align:center;
	display:inline-block;
	width:32%;
}
ul.accordian , ul.sub-accordian{
	padding:0px;
	margin:0px;
	width:100%;
	list-style:none;
}
.content { padding-top:10px; }
.accord {
	color:rgba(41,27,37,0.5);
	display:none;
	border:2px solid rgb(0,0,0,0.4);
	margin:15px 0px 10px 0px;
	border-radius:5px;
	background:#fff;
	padding:5px;
}

ul.sub-accordian li{
	color: #989898;
	cursor:pointer;
	border:2px solid #d7d7d7;
	border-radius:2px;
	color:#fff;
	font-weight:200;
	font-size:1em;
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;  
	padding:10px;
	margin:10px;
	line-height:28px
	list-style:none;
	background:#989898;
}

.accordian li{
	cursor:pointer;
	border:2px solid rgb(0,0,0,0.4);
	border-radius:2px;
	color:#fff;
	font-weight:200;
	font-size:1em;
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;  
	padding:10px;
	margin:10px;
	line-height:28px
	list-style:none;
	background:rgba(41,27,37,0.5);
}
.plus {
	color:#fff!important;
	font-size:3em;
	text-align:center;
	font-weight:bold;
	line-height:80px;
	position:absolute;
	width:40px;
	right:10px;
	height:80px;
	background:rgba(41,27,37,0.5);
}
.grey img {
	margin:auto;
	max-width:100px;
	padding-right:10px;
	float:left;
}

.details h1 {
	font-size:1.1em;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}
.details { float:left; }
.grey {
	color:#636363!important;
	position:relative;
	cursor:pointer;
	border:2px solid #d7d7d7!important;
	border-radius:2px;
	color:#fff;
	font-weight:200;
	font-size:1em;
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;  
	padding:10px;
	margin:10px;
	line-height:28px
	list-style:none;
	background:#efefef!important;
}
.checked {
	float:right;
	display:block;
	height:14px;
	width:14px;
	border:3px solid #fff;
	border-radius:4px;
	background:url(../images/check.png) no-repeat;
	background-position:center center;
	background-size:80%;
}
.hidden{ display:none; }
.check{
	float:right;
	display:block;
	height:14px;
	width:14px;
	border:3px solid #fff;
	border-radius:4px;

	background-position:center center;
	background-size:80%;
}

#login {
	padding-top:50px;
	text-align:center;
}
#login img {
	margin-bottom:20px;
}
#login fieldset { border:0px; }

#login input[type=text] {
	width:80%;
	border:1px solid #d7d7d7;
	margin:0px;
	display:inline-block;
	font-size:1em;
	padding:0px 20px;
}
#menu a {
	text-indent:0px!important;
	text-align:center!important;
	display:block;
	width:100%;
	padding:10px;
	font-size:1em;
	color:#fff!important;
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;  
}
#menu a:hover {
	color:rgba(41,27,37,0.7);
	background:rgba(0,0,0,0.8);
}
#menu {
	position:relative;
	width: 100%;
	background:rgba(0,0,0,0.5);
}
#login input[type=text] {
	width:80%;
	border-top:0px;
	border:1px solid #d7d7d7;
	margin:0px;
	display:inline-block;
	font-size:1em;
	padding:20px;
	margin-bottom:0px;
}
#login input[type=password] {
	width:80%;
	border-top:0px;
	border:1px solid #d7d7d7;
	margin:0px;
	display:inline-block;
	font-size:1em;
	padding:20px;
	margin-bottom:10px;
}
#login button {
	border-radius:4px;
	position:relative;
	color:#fff;
	width:80%;
	line-height:40px;
	border-top:0px;
	border:1px solid #d7d7d7;
	margin:0px;
	display:inline-block;
	font-size:1em;
	padding:20px;
	background:rgba(41,27,37,0.5);
}
.detail {
	position:absolute;
	z-index:100;
	top:0;
	left:0px;
	height:105px;
	width:100%;
	background:#8adbcb;
	display:none;
}
.detail a {
	color:#fff;
	padding:16px;
	display:inline-block;
	text-index:0px;
	width:50%;
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;  
	border-right:1px solid #7eb7ac;
	border-bottom:1px solid #7eb7ac;
}
.blue{
	color:#00a2d3!important;
	border-left:12px solid 00a2d3;
}
.teal {
	border-left:12px solid #57ccb4;
}
.purple {
	color:purple!important;
	border-left:12px solid purple;
}
.arrow {
	font-size:2em;
	font-weight:bold;
	line-height:60px;
	float:right;
	top:0;
	right:0;
	height:60px;
	display:block;

	width:20%;
	background:#86dbca;
	color:rgba(41,27,37,0.5);
}
.paddl { 
	padding-left:20px;
}
.up{
	text-transform:uppercase;
}
.left {
	float:left;
}

#add {
	text-align:center;
	position:relative;
	width: 100%;
	background:rgba(0, 0, 0, 0.4);
	margin-bottom:20px;
}
#add textarea {
	margin:10px;
	height:150px;
	border:0px;
	padding:10px;
	width:90%;
}
.tl {
	border-collapse: collapse;
	border-spacing: 0;
	display: table;
	position: relative;
	table-layout: fixed;
	width: 90%;
	margin:auto;
}

.tl:before {
	background-color: #C7CBD6;
	bottom: 0;
	content: "";
	left: 50%;
	position: absolute;
	top: 0;
	width: 2px;
	z-index: 0;
}

h3.tl-title {
	color: #C8CCD7;
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 5px;
	text-transform: uppercase;
}

.t-info {
	color: #C8CCD7;
}

.tl-item:before, .tl-item.alt:after {
	content: "";
	display: block;
	width: 50%;
}

.tl-item {
	display: table-row;
}

.tl-desk {
	display: table-cell;
	vertical-align: top;
	width: 50%;
}

.tl-desk h3 {
	font-size: 16px;
	font-weight: 300;
	margin: 0 0 5px;
}

.tl-desk .panel {
	background-color: rgba(0, 0, 0, 0.4);
	display: block;
	margin-left: 25px;
	position: relative;
	text-align: left;
	padding:20px;
}

.tl-item .tl-desk .arrow {
	border-bottom: 8px solid rgba(0, 0, 0, 0);
	border-top: 8px solid rgba(0, 0, 0, 0);
	display: block;
	height: 0;
	left: -9px;
	position: absolute;
	top: 13px;
	width: 0;
}

.tl-item .tl-desk .arrow {
	background:none!important;
	border-right: 8px solid rgba(0, 0, 0, 0.4) !important;
}

.tl-item.alt .tl-desk .arrow-alt {
	border-bottom: 8px solid rgba(0, 0, 0, 0);
	border-top: 8px solid rgba(0, 0, 0, 0);
	display: block;
	height: 0;
	left: auto;
	position: absolute;
	right: -9px;
	top: 13px;
	width: 0;
}

.tl-item.alt .tl-desk .arrow-alt {
	border-left: 8px solid rgba(0, 0, 0, 0.4) !important;
} 

.tl .tl-icon {
	left: -30px;
	position: absolute;
	top: 15px;
}

.tl .tl-icon {
	background-color: rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 0 3px #C7CBD6;
}

.tl-desk span a {
	text-transform: uppercase;
}

.tl-desk h3.red, .tl-desk span a.red {
	color: #ff8888;
}

.tl-desk h3.green, .tl-desk span a.green {
	color: #00ff12;
}

.tl-desk h3.yellow, .tl-desk span a.yellow {
	color: #f0ff00;
}

.tl-desk h3.blue, .tl-desk span a.blue {
	color: #00d2ff;
}

.tl-desk h3.turquoise, .tl-desk span a.turquoise {
	color: #33feed;
}

.tl-desk h3.orange, .tl-desk span a.orange {
	color: #FC0;
}

.tl .tl-icon.red {
	background: none repeat scroll 0 0 #ff0000;
	box-shadow: 0 0 0 3px #ff0000;
}

.tl .tl-icon.green {
	background: none repeat scroll 0 0 #35e905;
	box-shadow: 0 0 0 3px #38ff02;
}

.tl .tl-icon.yellow {
	background: none repeat scroll 0 0 #d8e503;
	box-shadow: 0 0 0 3px #f0ff00;
}

.tl .tl-icon.blue {
	background: none repeat scroll 0 0 #00b8e0;
	box-shadow: 0 0 0 3px #00d2ff;
}

.tl .tl-icon.turquoise {
	background: none repeat scroll 0 0 #18d2c3;
	box-shadow: 0 0 0 3px #33feed;
}

.tl .tl-icon.orange {
	background: none repeat scroll 0 0 #F90;
	box-shadow: 0 0 0 3px #FC0;
}

.tl .tl-icon {
	border: 3px solid #FFFFFF;
	border-radius: 50% 50% 50% 50%;
	display: block;
	height: 12px;
	width: 12px;
}

.tl-item.alt .tl-icon {
	left: auto;
	right: -32px;
}

.tl .tl-icon:before {
	font-size: 16px;
	margin-top: 5px;
}

.tl .tl-date {
	left: -200px;
	position: absolute;
	text-align: right;
	top: 12px;
	width: 150px;
}

.tl-desk h5 span {
	color: #999999;
	display: block;
	font-size: 12px;
	margin-bottom: 4px;
}

.tl-item.alt:before {
	display: none;
}

.tl-item:before, .tl-item.alt:after {
	content: "";
	display: block;
	width: 50%;
}  

.tl-desk p {
	font-size: 12px;
	margin-bottom: 0;
}

.tl-desk a {
	color: #ff8888;
}

.tl-desk .panel {
	margin-bottom: 5px;
}

.tl-desk .album {
	margin-top: 20px;
}

.tl-desk .album a {
	float: left;
	margin-right: 5px;
}

.tl-desk .notification {
	background-color: rgba(255, 255, 255, 0.15);
	margin-top: 20px;
	padding: 8px;
}

.tl-item.alt .panel {
	margin-left: 0;
	margin-right: 25px;
}

.tl-item.alt .tl-date {
	left: auto;
	right: -200px;
	text-align: left;
}
